<div class="col-md-12">



  <!--Start Title-->
  <div class="container-fulid margwid">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تغيير كلمة المرور
      </div>
    </div>
  </div>
  <!--End Title-->








<div class="ui-rtl" dir="rtl">

    
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-center">تغيير كلمة المرور</h2>
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.get('old_password').valid && changePasswordForm.get('old_password').touched}">
                        <label for="old_password">كلمة المرور الحاليه</label>
                        <input type="password" name="old_password" class="form-control" id="oldPassword" placeholder="كلمة المرور الحاليه" [formControl]="changePasswordForm.get('old_password')" />
                        <small *ngIf="changePasswordForm.get('old_password').hasError('required') && changePasswordForm.get('old_password').touched" class="text-danger">كلمة المرور الحاليه إجباريه</small>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.get('new_password').valid && changePasswordForm.get('new_password').touched}">
                        <label for="new_password">كلمة المرور الجديده</label>
                        <input type="password" name="new_password" class="form-control" id="newPassword" placeholder="كلمة المرور الجديده" [formControl]="changePasswordForm.get('new_password')" />
                        <small *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched" class="text-danger">يجب إدخال كمة المرور الجديده</small>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.get('confirm_new_password').valid && changePasswordForm.get('confirm_new_password').touched}">
                        <label for="confirm_new_password">تاكيد كلمة المرور</label>
                        <input type="password" name="confirm_new_password" class="form-control" id="newPassword" placeholder=" تاكيد كلمة المرور الجديده" [formControl]="changePasswordForm.get('confirm_new_password')" />
                        <small *ngIf="changePasswordForm.get('confirm_new_password').hasError('required') && changePasswordForm.get('confirm_new_password').touched" class="text-danger">يجب إدخال تاكيد كمة المرور الجديده</small>
                        <small *ngIf="changePasswordForm.get('confirm_new_password').hasError('passwordMatch') && changePasswordForm.get('confirm_new_password').touched" class="text-danger">كلمتان المرور غير متطابقتان</small>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-default" [disabled]="!changePasswordForm.valid">حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
      

</div>




</div>

