.fot { 
z-index: 99;    
width: 100%;
}
.search-btn{
color: #fff !important;
font-weight: normal !important;
display: block !important;
text-align: center;
height: 45px !important;
font-size: 15px !important;
line-height: 45px !important;
border-radius: 2px !important;
background: linear-gradient(45deg, #0d8a74 0%, #76cd50 100%) !important;
-webkit-transition: all 0.3s !important;
transition: all 0.3s !important;
border: none !important;
width: 100% !important;
margin-bottom: 12px;
margin-top: 0px;
align-content: center;
vertical-align: middle;
cursor: pointer;}

.card-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
}