 

<a  _ngcontent-c1="" *ngIf="commonService.defaultLanguage == 'ar'" (click)="onLangChange('en')" _ngcontent-c1="" >EN</a>
<a  _ngcontent-c1="" *ngIf="commonService.defaultLanguage == 'en'" (click)="onLangChange('ar')" _ngcontent-c1=""  >AR</a>

<div  *ngIf="commonService.defaultLanguage=='ar' ">
<div dir="rtl" *ngIf="serviceId==='7'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
          أرض وقرض مدن </div>

        <div class="col-12 fieldset-title02">تعريف </div>

        <p>
          منتج أرض صناعي وقرض يتيح للمستثمر التقديم على طلب التمويل متضمنا تخصيص الأرض للاستثمار الصناعي عبر طلب موحد ، من
          ضمن المنتجات المشتركة مع كل من الهيئة السعودية للمدن الصناعية ومناطق التقنية (مدن) ، وصندوق التنمية الصناعية
          السعودي ، كحزمة صناعية موحدة .</p>


        <div class="col-12 fieldset-title02">الهدف  </div>
        <ul >
          <li>اختصار وقت وجهد المستثمر من خلال الموافقة بين متطلبات واجراءات كلا من الصندوق الصناعي ومدن.</li>
          <li> ضمان سرعة الإجراءات. </li>
          <li>التقليل من أعباء المستثمر الصناعي مثل رسوم إيجار وتخصيص الأرض الصناعية، وطريقة الفوترة. </li>
        </ul>
        <div class="col-12 fieldset-title02">المميزات  </div>
        <ul>
          <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة. </li>
          <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في مجال الصناعة.   </li>
          <li>تقليل العبء المالي على العميل. </li>
        </ul>
        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>
<!------------------------------------------------------- -->
<!--Start bread crumbs-->
<div dir="rtl" *ngIf="serviceId==='8'">
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
          مصنع وقرض صناعي </div>

        

        <p>
          منتج مصنع وقرض صناعي يتيح للمستثمر التقديم على طلب التمويل متضمناً تخصيص مصنع جاهز للاستثمار الصناعي عبر طلب موحد، من ضمن المنتجات المشتركة مع كل من الهيئة السعودية للمدن الصناعية ومناطق التقنية (مدن)، وصندوق التنمية الصناعية السعودي، كحزمة صناعية موحدة. 
        </p>


        <div class="col-12 fieldset-title02">الهدف  </div>
        <ul >
          <li>اختصار وقت وجهد المستثمر من خلال الموافقة بين متطلبات واجراءات كلا من الصندوق الصناعي ومدن.</li>
          <li> ضمان سرعة الإجراءات. </li>
          <li>حفيز المستثمر في المجالات الصناعية. </li>
        </ul>
        <div class="col-12 fieldset-title02">المميزات  </div>
        <ul>
          <li>سداد ايجار المصنع بعد قبول قرض الصندوق . </li>
          <li>خصم 15% من الايجار السنوي لأول 5 سنوات بما لا يتجاوز 20 الف ريال في بعض المدن الصناعية .   </li>
          
        </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>

<!-- RCJ -->
<div dir="rtl" *ngIf="serviceId==='9'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
          الهيئة الملكية للجبيل وينبع  </div>

        

        <p>
          منتج أرض صناعي يتيح للمستثمر التقديم على طلب التمويل متضمنا تخصيص الأرض للاستثمار الصناعي عبر طلب موحد ، من
          ضمن المنتجات المشتركة مع كل من هيئة الملكية للجبيل وينبع ، وصندوق التنمية الصناعية السعودي ، كحزمة صناعية
          موحدة .</p>


          <div class="col-12 fieldset-title02">الهدف  </div>
        <ul >
          <li>التوسع في تمويل القطاع الصناعي .</li>
          <li> تعزيز التعاون والتكامل في المنظومة الصناعية . </li>
          <li>تشجيع المستثمرين في المجالات الصناعية.. </li>
        </ul>
        <div class="col-12 fieldset-title02">المميزات  </div>
        <ul>
          <li>تقليل العبء المالي على العميل. </li>
          <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة.   </li>
          <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في مجال الصناعة. </li>
        </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>

<div dir="rtl" *ngIf="serviceId==='13'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
          أرض وقرض لوجيستي الهيئة الملكية للجبيل وينبع  </div>

        

          <p>
            برنامج أرض وقرض لوجستي يتيح للمستثمر التقديم على طلب التمويل متضمنا تخصيص الأرض للمشاريع اللوجستية عبر طلب موحد، من ضمن المنتجات المشتركة مع كل من صندوق التنمية الصناعية السعودي والهيئة السعودية للمدن الصناعية ومناطق التقنية (مدن)
  
            .</p>
  
  
            <div class="col-12 fieldset-title02">الهدف  </div>
          <ul >
            <li> التوسع في دعم قطاع الخدمات اللوجستية في المملكة .</li>
            <li> تلبية احتياجات القطاع في المملكة وتسهيل إجراءات الحصول على الدعم. </li>
            <li> تعزيز الاستثمار في المدن والمناطق الصناعية والاقتصادية </li>
          </ul>
          <div class="col-12 fieldset-title02">المميزات  </div>
          <ul>
            <li> تخفيف العبء المالي للعميل حيث لا يتم دفع ايجار الأرض الا بعد حصوله على موافقة التمويل </li>
            <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة.   </li>
            <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في المجال الوجيستي  . </li>
          </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>

<div dir="rtl" *ngIf="serviceId==='15'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
         
          أرض وقرض لوجيستي هيئة المدن والمناطق الاقتصادية الخاصة ومدينة الملك عبدالله الاقتصادية
           
          
            </div>

        

          <p>
            برنامج أرض وقرض لوجستي يتيح للمستثمر التقديم على طلب التمويل متضمنا تخصيص الأرض للمشاريع اللوجستية عبر طلب موحد، من ضمن المنتجات المشتركة مع كل من صندوق التنمية الصناعية السعودي والهيئة السعودية للمدن الصناعية ومناطق التقنية (مدن)
  
            .</p>
  
  
            <div class="col-12 fieldset-title02">الهدف  </div>
          <ul >
            <li> التوسع في دعم قطاع الخدمات اللوجستية في المملكة .</li>
            <li> تلبية احتياجات القطاع في المملكة وتسهيل إجراءات الحصول على الدعم. </li>
            <li> تعزيز الاستثمار في المدن والمناطق الصناعية والاقتصادية </li>
          </ul>
          <div class="col-12 fieldset-title02">المميزات  </div>
          <ul>
            <li> تخفيف العبء المالي للعميل حيث لا يتم دفع ايجار الأرض الا بعد حصوله على موافقة التمويل </li>
            <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة.   </li>
            <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في المجال الوجيستي  . </li>
            <li>خفيض رسوم إيجار الأراضي بنسبة تصل الى 15% من القيمة الفعلية للأُجرة المعتمدة على المشاريع محددة
              
              
              </li>
            <li>تحصيل نسبة 10% فقط من رسوم إيجار الأرض من المستثمر مقابل حجز الأرض خلال دراسة تمويل المشروع</li>
            <li>فترة سماح لاسترجاع رسوم حجز الأرض من مدينة الملك عبدالله الاقتصادية في حال تم رفض طلب القرض</li>
            <li>إدراج طلب المستثمر ضمن المسار السريع لدى هيئة المدن الاقتصادية والمناطق الخاصة</li>
          </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>
<!-- RCJ -->
<div dir="rtl" *ngIf="serviceId==='12'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
         أرض وقرض مدن لوجيستي  </div>

        

        <p>
          برنامج أرض وقرض لوجستي يتيح للمستثمر التقديم على طلب التمويل متضمنا تخصيص الأرض للمشاريع اللوجستية عبر طلب موحد، من ضمن المنتجات المشتركة مع كل من صندوق التنمية الصناعية السعودي والهيئة السعودية للمدن الصناعية ومناطق التقنية (مدن)

          .</p>


          <div class="col-12 fieldset-title02">الهدف  </div>
        <ul >
          <li> التوسع في دعم قطاع الخدمات اللوجستية في المملكة .</li>
          <li> تلبية احتياجات القطاع في المملكة وتسهيل إجراءات الحصول على الدعم. </li>
          <li> تعزيز الاستثمار في المدن والمناطق الصناعية والاقتصادية </li>
        </ul>
        <div class="col-12 fieldset-title02">المميزات  </div>
        <ul>
          <li> تخفيف العبء المالي للعميل حيث لا يتم دفع ايجار الأرض الا بعد حصوله على موافقة التمويل </li>
          <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة.   </li>
          <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في المجال الوجيستي  . </li>
        </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>


<!-- ECA -->
<div dir="rtl" *ngIf="serviceId==='11'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
          هيئة المدن والمناطق الاقتصادية الخاصة  </div>

        

        <p>
           

منتج أرض صناعي يتيح للمستثمر التقديم على طلب التمويل متضمنا تخصيص الأرض للاستثمار الصناعي عبر طلب موحد ، من ضمن المنتجات المشتركة بين كل من صندوق التنمية الصناعية السعودي، هيئة المدن والمناطق الاقتصادية الخاصة، ومدينة الملك عبدالله الاقتصادية كحزمة صناعية موحدة.
        </p>


        <div class="col-12 fieldset-title02">الهدف  </div>
        <ul >
          <li>التوسع في تمويل القطاع الصناعي.</li>
          <li>تعزيز التعاون والتكامل في المنظومة الصناعية. </li>
          <li>تشجيع المستثمرين في المجالات الصناعية. </li>
        </ul>
        <div class="col-12 fieldset-title02">المميزات  </div>
        <ul>
          <li>تخفيض رسوم ايجار الأراضي السنوية المخصصة لهذا المنتج المشترك بنسبة 10% من القيمة الفعلية للأُجرة. </li>
          <li>تقوم مدينة الملك عبد الله الاقتصادية بتحصيل نسبة 10% فقط من رسوم إيجار الأرض من المستثمر مقابل حجز الأرض قبل حصوله على الموافقة المشروطة للقرض من الصندوق.   </li>
         
          <li>يتم إدراج طلب المستثمر ضمن المسار السريع لدى هيئة المدن الاقتصادية والمناطق الخاصة</li>
          <li>تقليل العبء المالي على العميل. </li>
          <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة.</li>
          <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في مجال الصناعة .</li>
        </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>


<!-- ECA -->
<div dir="rtl" *ngIf="serviceId==='121'">
  <!--Start bread crumbs-->
  <div class="container bread_crumbs">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>تعريف بالمنتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        تعريف بالمنتج
      </div>
    </div>
  </div>
  <!--End Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
          مدينة الملك سلمان للطاقة   </div>

        

        <p>
          منتج "أرض وقرض" الذي تم تطويره بالتعاون مع مدينة الملك سلمان للطاقة، سبارك، يتيح للمستثمرين التقديم بطلب لتمويل مشاريعهم الصناعية و تخصيص أرض للاستثمار الصناعي في مجمع الملك سلمان للطاقة عبر طلب موحد.
        </p>


        <div class="col-12 fieldset-title02">الهدف  </div>
        <ul >
          <li>التوسع في تمويل القطاع الصناعي.</li>
          <li>تعزيز التعاون والتكامل في المنظومة الصناعية. </li>
          <li>تشجيع المستثمرين في المجالات الصناعية. </li>
        </ul>
        <div class="col-12 fieldset-title02">المميزات  </div>
        <ul>
          <li>فترة السماح تصل إلى 30 شهراً. </li>
          <li>يصل تمويل الصندوق للمشروع الاستراتيجي إلى 75%   </li>
          <li>تقليل العبء المالي على العميل. </li> 
          <li>توفير الوقت والجهد على المستثمرين عبر توحيد الطلب في منصة واحدة.</li>
          <li>توفير بيئة متكاملة تلائم احتياجات جميع المستثمرين في مجال الصناعة .</li>
        </ul>

        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">{{'COMMON.Footer' | translate}}</div>
  </div>
</div>
</div>




<div  *ngIf="commonService.defaultLanguage == 'en'" class="ltr" style="direction: ltr;text-align: left;">
  <div dir="ltr" *ngIf="serviceId==='7'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details </span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            Land & Loan (MODON) </div>
  
          
  
          <p>
            In a quest to develop the process of obtaining land and industrial loan in industrial cities, SIDF joined-forces with MODON to offer "Land and Loan". A financing service that blazes a path for investors to exceptional incentives. Including the allocation of land for industrial investment in one of the industrial cities, through the consolidated application service, and to follow-up on their needs and requirements through one point of contact. </p>
  
  
          <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>Enhance cooperation and integration in the industrial ecosystem .</li>
            <li> Safe time and effort for investors by submitting requests through one portal . </li>
            
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            <li>Lower the financial burden on the client. </li>
            <li>Save time and effort for investors by submitting requests through one portal  .   </li>
            <li>Provide an integrated environment that suits investors need  </li>
          </ul>
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  <!------------------------------------------------------- -->
  <!--Start bread crumbs-->
  <div dir="ltr" *ngIf="serviceId==='8'">
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"    style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            Factory & Loan (MODON) </div>
  
          
  
          <p>
            As SIDF push the boundaries to develop the industrial sector, stimulate investment, and consolidate policies and procedures for obtaining a ready-built factory and industrial loan; it partners with MODON to offer "A Factory and Industrial Loan". A service that allows investors to submit a request for financing including the allocation of a ready-built factory through the consolidated application service and pay the rent of the factory after obtaining the industrial loan. 
          </p>
  
  
          <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>Expand in Funding the Industrial Sector.</li>
            <li> Enhance cooperation and integration in the industrial ecosystem. </li>
            <li>Encourage investment in the Industrial Sector. </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            <li>Paying the factory rent after the loan’s approval. </li>
            <li>Annual rent discount of 15% for the first 5 years with no more than 20 thousand riyals annually for several promising industrial cities.   </li>
            
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  
  <!-- RCJ -->
  <div dir="ltr" *ngIf="serviceId==='9'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            RCJY  </div>
  
          
  
          <p>
            

The product of (Land & Loan) enables investors to apply for financing their projects and allocating industrial land via one application. It is one of the products jointly developed by the Royal Commission for Jubail and Yanbu and the Saudi Industrial Development Fund. 

.</p>
  
  
            <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>Expand in Funding the Industrial Sector .</li>
            <li> Enhance cooperation and integration in the industrial ecosystem. </li>
            <li>Encourage investment in the Industrial Sector </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            <li>Lower the financial burden on the client  </li>
            <li>Save time and effort for investors by submitting requests through one portal  .   </li>
            <li>Provide an integrated environment that suits investors need . </li>
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  
   <!-- RCJ -->
   <div dir="ltr" *ngIf="serviceId==='12'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            Land loan modon logistics  </div>
  
          
  
          <p>
            
            Land and Logistics Loan program allows the investor to apply for financing, including allocation of a logistics land for investment through a unified application, as part of the joint program with the Saudi Industrial Development Fund and Saudi Industrial Cities and Technology Zones (MODON
.</p>
  
  
            <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>  Expand in supporting logistics sector in the kingdom..</li>
            <li>  Fulfill logistics sector needs in the Kingdom and facilitate investment requirements.. </li>
            <li>  Promote investments in the industrial and economic cities </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            <li>Lower the financial burden on the client  </li>
            <li>Save time and effort for investors by submitting requests through one portal  .   </li>
            <li>Provide an integrated environment that suits investors needs in the logistics sector. </li>
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  
  <div dir="ltr" *ngIf="serviceId==='13'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            Land loan modon logistics RCYJ  </div>
  
          
  
          <p>
            
            Land and Logistics Loan program allows the investor to apply for financing, including allocation of a logistics land for investment through a unified application, as part of the joint program with the Saudi Industrial Development Fund and Saudi Industrial Cities and Technology Zones (MODON
.</p>
  
  
            <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>  Expand in supporting logistics sector in the kingdom..</li>
            <li>  Fulfill logistics sector needs in the Kingdom and facilitate investment requirements.. </li>
            <li>  Promote investments in the industrial and economic cities </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            <li>Lower the financial burden on the client  </li>
            <li>Save time and effort for investors by submitting requests through one portal  .   </li>
            <li>Provide an integrated environment that suits investors needs in the logistics sector. </li>
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  <div dir="ltr" *ngIf="serviceId==='15'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            
land and logistics loan Economic Cities and Special Zones Authority and King Abdullah Economic City

 </div>
  
          
  
          <p>
            
            Land and Logistics Loan program allows the investor to apply for financing, including allocation of a logistics land for investment through a unified application, as part of the joint program with the Saudi Industrial Development Fund and Saudi Industrial Cities and Technology Zones (MODON
.</p>
  
  
            <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>  Expand in supporting logistics sector in the kingdom..</li>
            <li>  Fulfill logistics sector needs in the Kingdom and facilitate investment requirements.. </li>
            <li>  Promote investments in the industrial and economic cities </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            <li>Lower the financial burden on the client  </li>
            <li>Save time and effort for investors by submitting requests through one portal  .   </li>
            <li>Provide an integrated environment that suits investors needs in the logistics sector. </li>
            <li>Up to 15% rent discount on specific projects</li>
              <li>Collect only 10% of land rental fees from investor for land reservation during project evaluation</li>
              <li>Allowance period to reclaim land reservation fees from King Abdullah Economic City if loan application is rejected</li>
              <li>Include investor's request within the Economic Cities and Special Zones Authority fast-track</li>
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  <!-- ECA -->
  <div dir="ltr" *ngIf="serviceId==='11'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            ECZA  </div>
  
          
  
          <p>
            The product of Land and Industrial Loan enables investors to apply for financing their projects and allocating industrial land via one application. It is jointly developed by the Saudi Industrial Development Fund, Economic Cities and Special Zones Authority and King Abdullah Economic City.  
          </p>
  
          
          
          
          <div class="col-12 fieldset-title02">Objectives  </div>
          <ul >
            <li>Expand in Funding the Industrial Sector .</li>
            <li> Enhance cooperation and integration in the industrial ecosystem . </li>
            <li>Encourage investment in the Industrial Sector. </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul> 
            <li>Only 10% of the lease fees is collected from the investor in exchange for land reservation prior to SIDF’s approval of the loan  </li>
            <li>Through King Abdullah Economic City, this product reduces the annual lease fees by 10%.    </li>
            <li>Include the investor’s request in the fast track at the Economic Cities and Special Zones Authority   </li>
            <li>Lower the financial burden on the client </li>
            <li>Save time and effort for investors by submitting requests through one portal  </li>
            <li>Provide an integrated environment that suits investors need .</li>
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  
  
  <!-- ECA -->
  <div dir="ltr" *ngIf="serviceId==='121'">
    <!--Start bread crumbs-->
    <div class="container bread_crumbs">
      <div class="row">
        <div class="col">
          <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
          <span><img src="assets/images/arrow-l.png" alt="img"></span>
          <span>Product Details</span>
        </div>
      </div>
    </div>
    <!--End bread crumbs-->
  
    <!--Start Title-->
    <div class="container">
      <div class="row title_01">
        <div class="col">
          <img src="assets/images/pen.png" alt="img">
          Product Details
        </div>
      </div>
    </div>
    <!--End Title-->
  
    <div class="container">
      <div class="row">
        <div class="col-12 fieldset01"   style="margin-top: 40px;">
          <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img">
            SPARK  </div>
  
          
  
          <p>
            The product of "Land and Loan", developed in collaboration with SPARK, enables investors to apply for financing their projects and allocating an industrial land in King Salman Energy Park via one application. 
          </p>
  
  
          <div class="col-12 fieldset-title02">Objectives  </div>
          <ul > 
            <li>Expand in Funding the Industrial Sector .</li>
            <li>Enhance cooperation and integration in the industrial ecosystem . </li>
            <li>Encourage investment in the Industrial Sector  </li>
          </ul>
          <div class="col-12 fieldset-title02">Advantages  </div>
          <ul>
            

            <li>Funding up to 75% of strategic projects . </li>
            <li>Grace period up to 30 months.    </li>
            <li>Process integration yield time efficiency   </li> 
            <li>Submission through one portal in one standardized form  .</li>
            <li>Lower the financial burden on the client .</li>
            <li>Provide an integrated environment that suits investors need </li>
          </ul>
  
          <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
              class="more">Back</button></div>
  
        </div>
      </div>
    </div>
  
  
  
    <!-- Start Footer -->
    <div class="container-fluid fot">
      <div class="container">{{'COMMON.Footer' | translate}}</div>
    </div>
  </div>
  </div>