<div style="cursor: pointer;" class="input-group">

    <input onkeydown="return false;" [(ngModel)]="gregDateString" (ngModelChange)="onGregDateChange($event)"
        class="form-control" #greg_date="bsDatepicker" bsDatepicker placement="right" name="greg_date"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }" placeholder="YYYY-MM-DD">

    <div class="input-group-append">
        <button matRipple matRippleColor="rgba(255,239,20,0.15)" class="more" (click)="greg_date.toggle();" type="button"></button>
    </div>

</div>