<nb-layout>
    <nb-layout-column>
        <div class="loginpage commonbg-pf theme-background">
            <div class="login-pf-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="login-box col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                            <header class="login-pf-page-header"><img style="cursor: pointer;" class="login-pf-brand" (click)="navigatetoLogin()" src="assets/images/SIDF_Logo_Arabic_CMYK_AW-01.png" alt="sidf logo" /></header>
                            <div class="row">
                                <div class="col">
                                    <div class="card-pf bg-white">
                                        <div class="divlanguageselector">
                                            <!-- <select class="selectpicker" (change)="onLangChange($event.target.value);"> -->
                                            <select class="selectpicker" (change)="onLangChange($event.target.value);">
                                                <option value="ar">Arabic</option>
                                                <option value="en">English</option>
                                            </select>
                                        </div>
                                        <header class="login-pf-header">
                                            <!-- <select class="selectpicker" (change)="onLangChange($event.target.value);">
                        <option value="en">English</option>
                        <option value="fr">French</option>
                        <option value="ar">Arabic</option>
                      </select> -->
                                            <br>
                                            <div style="width:100%;text-align: center;">
                                                <!-- <h3>{{ "LOGIN.TITLE" | translate}}</h3> -->
                                                <h3>{{ "FORGOTPASSWORD.Tresetpassword" | translate}}</h3>
                                            </div>
                                        </header>
                                        <form action="login-otp.html" [formGroup]="ForgotPasswordForm" class="" autocomplete='off'>

                                            <div class="form-group">

                                                <div class="form-group">
                                                    <input type={{textOrPassword1}} autocomplete="off" class="form-control input-lg" formControlName="newPassword" [ngClass]="{'is-invalid' : next1 && forgotpasswordData.newPassword.errors}" id="InputNewPassword" placeholder='{{ "FORGOTPASSWORD.NewPassword" | translate}}'>
                                                    <span class="passwordtoggle {{icontype1}}" (click)="OnPasswordToggle1();"></span>
                                                    <div class="invalid-feedback">
                                                        <div *ngIf="forgotpasswordData.newPassword.errors">{{ "FORGOTPASSWORD.NewPassword" | translate}}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <input type={{textOrPassword2}} autocomplete="off" class="form-control input-lg" formControlName="confirmPassword" [ngClass]="{'is-invalid' : next1 && forgotpasswordData.confirmPassword.errors}" id="InputConfirmNewPassword" placeholder='{{ "FORGOTPASSWORD.ConfirmPassword" | translate}}'>
                                                    <span class="passwordtoggle {{icontype2}}" (click)="OnPasswordToggle2();"></span>
                                                    <div class="invalid-feedback">
                                                        <div *ngIf="forgotpasswordData.confirmPassword.errors">{{ "FORGOTPASSWORD.ConfirmPassword" | translate}}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <input type={{textOrPassword3}} autocomplete="off" class="form-control input-lg" id="InputForgotPasswordOtp" formControlName="forgotPasswordOtp" [ngClass]="{'is-invalid' : next1 && forgotpasswordData.forgotPasswordOtp.errors}" placeholder='{{ "FORGOTPASSWORD.forgotcode" | translate}}'>
                                                    <span class="passwordtoggle {{icontype3}}" (click)="OnPasswordToggle3();"></span>
                                                    <div class="invalid-feedback">
                                                        <div *ngIf="forgotpasswordData.forgotPasswordOtp.errors">{{ "FORGOTPASSWORD.forgotcode" | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="text-align: center;">
                                                <!-- <button type="submit" class="more btn-block btn-lg">Verify</button> -->
                                                <button type="button" class="more" (click)="onForgotPasswordOTPVerify()">{{ "LOGIN.bverify" | translate}}</button>
                                            </div>
                                            <br />
                                            <div class="regpass-rules">
                                                <h4>{{ "FORGOTPASSWORD.note1" | translate}}</h4>

                                                <ul>
                                                    <li>{{ "FORGOTPASSWORD.note2" | translate}}</li>
                                                    <li>{{ "FORGOTPASSWORD.note3" | translate}}</li>
                                                    <li>{{ "FORGOTPASSWORD.note4" | translate}}</li>
                                                    <li>{{ "FORGOTPASSWORD.note5" | translate}}</li>
                                                </ul>

                                            </div>
                                        </form>

                                    </div>




                                    <footer class="login-pf-page-footer">
                                        <!-- <ul class="login-pf-page-footer-links list-unstyled">
                                            <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
                                            <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
                                            <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
                                        </ul> -->
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>