<!--Start bread crumbs-->
<div *ngIf="serviceId==='7'">
  <div class="container bread_crumbs" dir="rtl">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>شروط الحصول على منتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        شروط الحصول على منتج
      </div>
    </div>
  </div>
  <!--End Title-->
  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img" dir="rtl">
          أرض وقرض صناعي </div>

        <div class="col-12 fieldset-title02">شروط الحصول على منتج</div>




        <p style="margin-top:10px;">معلومات المشروع العامة</p>
        <ol>
          <li>سجل تجاري ساري</li>
        </ol>
        <ol>
          <li>عقد التأسيس (للشركات فقط)</li>
          <li>صورة من هوية المالك/الملاك/ممثل المشروع</li>
          <li>القوائم المالية المدققة (للمنشآت القائمة)</li>
          <li>خطاب تفويض من المالك/ملاك لممثل المشروع</li>
          <li>ترخيص صناعي ساري للمشروع (نهائي/أولي)- في حال التوسعة، لابد أن يتطابق مصدر ترخيص المشروع القائم بالمدينة
            المراد التوسعة فيها.</li>
        </ol>
        <p>معلومات طلب الارض الصناعية</p>
        <ol>
          <li>تعبئة معلومات المساحات المطلوبة (بدون/مع الارتدادات، صالة تخزين مواد الخام، صالة تخزين المنتج النهائي،
            صالة الانتاج ومساحة المباني الادارية)</li>
        </ol>
        <ol>
          <li>تعبئة نوع الصناعة ووصف عملية التصنيع</li>
          <li>تعبئة متطلبات المصنع للطاقة والمياه</li>
        </ol>
        <p>تكلفة المشروع وخطة التنفيذ</p>
        <ol>
          <li>تعبئة تكاليف المشروع الراس مالية ومصادر التمويل</li>
        </ol>
        <ol>
          <li>تعبئة الخطة الزمنية للتنفيذ</li>
          <li>تعبئة اجمالي القوى العاملة للمشروع (سعوديون وغير سعوديين)</li>
          <li>ارفاق دراسة جدوى اقتصادية وافية و حديثة للمشاريع التي تكون تكلفتها اعلى من 20 مليون ريال</li>
          <li>عدد عرض تنافسي واحد على الأقل لاحتياجات المشروع من مكائن التصنيع الرئيسية والمواد الخام والتعبئة الرئيسية
            والأصول الثابتة للمشروع</li>
          <li>رسم هندسي اولي يوضح المخطط العام للمشروع ومساحات المباني وأبعادها مع توضيح أماكن معدات الانتاج داخل المصنع
          </li>
          <li>تعبئة نموذج الصندوق التفصيلي وارفاقه. (لتحميل النموذج الرجاء الضغط هنا)</li>
        </ol>
        <p>الخبرة الصناعية</p>
        <ol>
          <li>تعبئة معلومات الشريك الفني ان وجد</li>
        </ol>
        <p>المنتجات</p>
        <ol>
          <li>تعبئة بيانات المنتجات ووصفها</li>
        </ol>
        <ol>
          <li>ارفاق كتيبات وكتالوجات المنتج ان وجد</li>
        </ol>
        <p>السوق المستهدف</p>
        <ol>
          <li>تعبئة بيانات السوق المستهدف من حيث الانتاج الداخلي والتصدير وارتباط الصناعة بصناعات اخرى</li>
        </ol>
        <ol>
          <li>ارفاق اتفاقيات مع مستهلكين ان وجدت</li>
        </ol>
        <p>حقوق الملكية</p>
        <ol>
          <li>تعبئة بيانات الملاك و/أو الشركة/المؤسسة التي لها ملكية في المشروع</li>
        </ol>
        <ol>
          <li>ارفاق عقد التأسيس للشركات التي لها ملكية في المشروع ان وجد</li>
          <li>ارفاق القوائم المالية المدققة للمنشأة التي لها ملكية في المشروع ان وجدت</li>
        </ol>
        <p>تفاصيل حق الملكية</p>
        <ol>
          <li>تعبئة تفاصيل حق الملكية من حيث العقارات المملوكة والحسابات البنكية وملكية الاعمال الاخرى</li>
        </ol>
        <ol>
          <li>تعبئة تفاصيل القروض القائمة والمعاملات البنكية ان وجدت</li>
          <li>إقرار بعدم ممانعة تبادل المعلومات والسماح بالاطلاع على القوائم المالية</li>
          <li>ذكر اذا كانت هناك علاقة سابقة مع الصندوق</li>
        </ol>



        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">جميع الحقوق محفوظة - صندوق التنمية الصناعية السعودي - المملكة العربية السعودية 2019</div>
  </div>
</div>
<div *ngIf="serviceId==='12'">
  <div class="container bread_crumbs" dir="rtl">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>شروط الحصول على منتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        شروط الحصول على منتج
      </div>
    </div>
  </div>
  <!--End Title-->
  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img" dir="rtl">
          أرض وقرض لوجيستي </div>

        <div class="col-12 fieldset-title02">شروط الحصول على منتج</div>




        <p style="margin-top:10px;">معلومات المشروع العامة</p>
        <ol>
          <li>سجل تجاري ساري</li>
        </ol>
        <ol>
          <li>عقد التأسيس (للشركات فقط)</li>
          <li>صورة من هوية المالك/الملاك/ممثل المشروع</li>
          <li>القوائم المالية المدققة (للمنشآت القائمة)</li>
          <li>خطاب تفويض من المالك/ملاك لممثل المشروع</li>
          <li>ترخيص صناعي ساري للمشروع (نهائي/أولي)- في حال التوسعة، لابد أن يتطابق مصدر ترخيص المشروع القائم بالمدينة
            المراد التوسعة فيها.</li>
        </ol>
        <p>معلومات طلب الارض الصناعية</p>
        <ol>
          <li>تعبئة معلومات المساحات المطلوبة (بدون/مع الارتدادات، صالة تخزين مواد الخام، صالة تخزين المنتج النهائي،
            صالة الانتاج ومساحة المباني الادارية)</li>
        </ol>
        <ol>
          <li>تعبئة نوع الصناعة ووصف عملية التصنيع</li>
          <li>تعبئة متطلبات المصنع للطاقة والمياه</li>
        </ol>
        <p>تكلفة المشروع وخطة التنفيذ</p>
        <ol>
          <li>تعبئة تكاليف المشروع الراس مالية ومصادر التمويل</li>
        </ol>
        <ol>
          <li>تعبئة الخطة الزمنية للتنفيذ</li>
          <li>تعبئة اجمالي القوى العاملة للمشروع (سعوديون وغير سعوديين)</li>
          <li>ارفاق دراسة جدوى اقتصادية وافية و حديثة للمشاريع التي تكون تكلفتها اعلى من 20 مليون ريال</li>
          <li>عدد عرض تنافسي واحد على الأقل لاحتياجات المشروع من مكائن التصنيع الرئيسية والمواد الخام والتعبئة الرئيسية
            والأصول الثابتة للمشروع</li>
          <li>رسم هندسي اولي يوضح المخطط العام للمشروع ومساحات المباني وأبعادها مع توضيح أماكن معدات الانتاج داخل المصنع
          </li>
          <li>تعبئة نموذج الصندوق التفصيلي وارفاقه. (لتحميل النموذج الرجاء الضغط هنا)</li>
        </ol>
        <p>الخبرة الصناعية</p>
        <ol>
          <li>تعبئة معلومات الشريك الفني ان وجد</li>
        </ol>
        <p>المنتجات</p>
        <ol>
          <li>تعبئة بيانات المنتجات ووصفها</li>
        </ol>
        <ol>
          <li>ارفاق كتيبات وكتالوجات المنتج ان وجد</li>
        </ol>
        <p>السوق المستهدف</p>
        <ol>
          <li>تعبئة بيانات السوق المستهدف من حيث الانتاج الداخلي والتصدير وارتباط الصناعة بصناعات اخرى</li>
        </ol>
        <ol>
          <li>ارفاق اتفاقيات مع مستهلكين ان وجدت</li>
        </ol>
        <p>حقوق الملكية</p>
        <ol>
          <li>تعبئة بيانات الملاك و/أو الشركة/المؤسسة التي لها ملكية في المشروع</li>
        </ol>
        <ol>
          <li>ارفاق عقد التأسيس للشركات التي لها ملكية في المشروع ان وجد</li>
          <li>ارفاق القوائم المالية المدققة للمنشأة التي لها ملكية في المشروع ان وجدت</li>
        </ol>
        <p>تفاصيل حق الملكية</p>
        <ol>
          <li>تعبئة تفاصيل حق الملكية من حيث العقارات المملوكة والحسابات البنكية وملكية الاعمال الاخرى</li>
        </ol>
        <ol>
          <li>تعبئة تفاصيل القروض القائمة والمعاملات البنكية ان وجدت</li>
          <li>إقرار بعدم ممانعة تبادل المعلومات والسماح بالاطلاع على القوائم المالية</li>
          <li>ذكر اذا كانت هناك علاقة سابقة مع الصندوق</li>
        </ol>



        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">جميع الحقوق محفوظة - صندوق التنمية الصناعية السعودي - المملكة العربية السعودية 2019</div>
  </div>
</div>

<!---- #####################   -->
<!--Start bread crumbs-->
<div *ngIf="serviceId==='8'">

  <div class="container bread_crumbs" dir="rtl">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>شروط الحصول على منتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        شروط الحصول على منتج
      </div>
    </div>
  </div>
  <!--End Title-->
  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img" dir="rtl">
          مصنع وقرض صناعي </div>

        <div class="col-12 fieldset-title02">شروط الحصول على منتج</div>

        <br>
        <p style="margin-top:10px;">معلومات المشروع العامة</p>
        <ol>
          <li>سجل تجاري ساري</li>
          <li>عقد التأسيس (للشركات فقط)</li>
          <li>صورة من هوية المالك/الملاك/ممثل المشروع</li>
          <li>القوائم المالية المدققة (للمنشآت القائمة)</li>
          <li>خطاب تفويض من المالك/ملاك لممثل المشروع</li>
          <li>ترخيص صناعي ساري للمشروع (نهائي/أولي)- في حال التوسعة، لابد أن يتطابق مصدر ترخيص المشروع القائم بالمدينة
            المراد التوسعة فيها.</li>
        </ol>
        <p>معلومات طلب المبنى الصناعي الجاهز</p>
        <ol>
          <li>اختيار المدينة الصناعية للمبنى الجاهز والوحدات المطلوبة مع المساحة</li>
          <li>تعبئة المنتجات والمواد الخام</li>
          <li>تعبئة متطلبات المصنع للطاقة والمياه.</li>
        </ol>
        <p>تكلفة المشروع وخطة التنفيذ</p>
        <ol>
          <li>تعبئة تكاليف المشروع الراس مالية ومصادر التمويل.</li>
          <li>تعبئة الخطة الزمنية للتنفيذ.</li>
          <li>تعبئة اجمالي القوى العاملة للمشروع (سعوديون وغير سعوديين)</li>
          <li>ارفاق دراسة جدوى اقتصادية وافية و حديثة للمشاريع التي تكون تكلفتها اعلى من 20 مليون ريال .</li>
          <li>عدد عرض تنافسي واحد على الأقل لاحتياجات المشروع من مكائن التصنيع الرئيسية والمواد الخام والتعبئة الرئيسية
            والأصول الثابتة للمشروع.</li>
          <li>رسم هندسي اولي يوضح المخطط العام للمشروع ومساحات المباني وأبعادها مع توضيح أماكن معدات الانتاج داخل
            المصنع.</li>
          <li>تعبئة نموذج الصندوق التفصيلي وارفاقه. (لتحميل النموذج الرجاء الضغط هنا)</li>
        </ol>
        <p>الخبرة الصناعية</p>
        <ol>
          <li>تعبئة معلومات الشريك الفني ان وجد.</li>
        </ol>
        <p>المنتجات</p>
        <ol>
          <li>تعبئة بيانات المنتجات ووصفها</li>
          <li>ارفاق كتيبات وكتالوجات المنتج ان وجد.</li>
        </ol>
        <p>حقوق الملكية</p>
        <ol>
          <li>تعبئة بيانات الملاك و/أو الشركة/المؤسسة التي لها ملكية في المشروع.</li>
          <li>ارفاق عقد التأسيس للشركات التي لها ملكية في المشروع ان وجد.</li>
          <li>ارفاق القوائم المالية المدققة للمنشأة التي لها ملكية في المشروع ان وجدت.</li>
        </ol>
        <p>تفاصيل حق الملكية</p>
        <ol>
          <li>تعبئة تفاصيل حق الملكية من حيث العقارات المملوكة والحسابات البنكية وملكية الاعمال الاخرى.</li>
          <li>تعبئة تفاصيل القروض القائمة والمعاملات البنكية ان وجدت.</li>
          <li>إقرار بعدم ممانعة تبادل المعلومات والسماح بالاطلاع على القوائم المالية.</li>
          <li>ذكر اذا كانت هناك علاقة سابقة مع الصندوق.</li>
        </ol>
        <p>&nbsp;</p>





        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">جميع الحقوق محفوظة - صندوق التنمية الصناعية السعودي - المملكة العربية السعودية 2019</div>
  </div>
</div>
<!---- #####################   -->

<!-- ECA -->
<!--Start bread crumbs-->
<div *ngIf="serviceId==='11'">
  <div class="container bread_crumbs" dir="rtl">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>شروط الحصول على منتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        شروط الحصول على منتج
      </div>
    </div>
  </div>
  <!--End Title-->
  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img" dir="rtl">
          أرض وقرض صناعي </div>

        <div class="col-12 fieldset-title02">شروط الحصول على منتج</div>




        <p style="margin-top:10px;">معلومات المشروع العامة</p>
        <ol>
          <li>سجل تجاري ساري</li>
        </ol>
        <ol>
          <li>عقد التأسيس (للشركات فقط)</li>
          <li>صورة من هوية المالك/الملاك/ممثل المشروع</li>
          <li>القوائم المالية المدققة (للمنشآت القائمة)</li>
          <li>خطاب تفويض من المالك/ملاك لممثل المشروع</li>
          <li>ترخيص صناعي ساري للمشروع (نهائي/أولي)- في حال التوسعة، لابد أن يتطابق مصدر ترخيص المشروع القائم بالمدينة
            المراد التوسعة فيها.</li>
        </ol>
        <p>معلومات طلب الارض الصناعية</p>
        <ol>
          <li>رقم رخصة صالحة من هيئة المدن و المناطق الإقتصادية الخاصة</li>
        </ol>
        <p>تكلفة المشروع وخطة التنفيذ</p>
        <ol>
          <li>تعبئة تكاليف المشروع الراس مالية ومصادر التمويل</li>
        </ol>
        <ol>
          <li>تعبئة الخطة الزمنية للتنفيذ</li>
          <li>تعبئة اجمالي القوى العاملة للمشروع (سعوديون وغير سعوديين)</li>
          <li>ارفاق دراسة جدوى اقتصادية وافية و حديثة للمشاريع التي تكون تكلفتها اعلى من 20 مليون ريال</li>
          <li>عدد عرض تنافسي واحد على الأقل لاحتياجات المشروع من مكائن التصنيع الرئيسية والمواد الخام والتعبئة الرئيسية
            والأصول الثابتة للمشروع</li>
          <li>رسم هندسي اولي يوضح المخطط العام للمشروع ومساحات المباني وأبعادها مع توضيح أماكن معدات الانتاج داخل المصنع
          </li>
          <li>تعبئة نموذج الصندوق التفصيلي وارفاقه. (لتحميل النموذج الرجاء الضغط هنا)</li>
        </ol>
        <p>الخبرة الصناعية</p>
        <ol>
          <li>تعبئة معلومات الشريك الفني ان وجد</li>
        </ol>
        <p>المنتجات</p>
        <ol>
          <li>تعبئة بيانات المنتجات ووصفها</li>
        </ol>
        <ol>
          <li>ارفاق كتيبات وكتالوجات المنتج ان وجد</li>
        </ol>
        <p>السوق المستهدف</p>
        <ol>
          <li>تعبئة بيانات السوق المستهدف من حيث الانتاج الداخلي والتصدير وارتباط الصناعة بصناعات اخرى</li>
        </ol>
        <ol>
          <li>ارفاق اتفاقيات مع مستهلكين ان وجدت</li>
        </ol>
        <p>حقوق الملكية</p>
        <ol>
          <li>تعبئة بيانات الملاك و/أو الشركة/المؤسسة التي لها ملكية في المشروع</li>
        </ol>
        <ol>
          <li>ارفاق عقد التأسيس للشركات التي لها ملكية في المشروع ان وجد</li>
          <li>ارفاق القوائم المالية المدققة للمنشأة التي لها ملكية في المشروع ان وجدت</li>
        </ol>
        <p>تفاصيل حق الملكية</p>
        <ol>
          <li>تعبئة تفاصيل حق الملكية من حيث العقارات المملوكة والحسابات البنكية وملكية الاعمال الاخرى</li>
        </ol>
        <ol>
          <li>تعبئة تفاصيل القروض القائمة والمعاملات البنكية ان وجدت</li>
          <li>إقرار بعدم ممانعة تبادل المعلومات والسماح بالاطلاع على القوائم المالية</li>
          <li>ذكر اذا كانت هناك علاقة سابقة مع الصندوق</li>
        </ol>



        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">جميع الحقوق محفوظة - صندوق التنمية الصناعية السعودي - المملكة العربية السعودية 2019</div>
  </div>
</div>


<!-- RCJ -->
<!--Start bread crumbs-->
<div *ngIf="serviceId==='9'">
  <div class="container bread_crumbs" dir="rtl">
    <div class="row">
      <div class="col">
        <a href="/pages/client-dashboard"><span>{{ "DASHBOARD.Home" | translate}}</span></a>
        <span><img src="assets/images/arrow-l.png" alt="img"></span>
        <span>شروط الحصول على منتج</span>
      </div>
    </div>
  </div>
  <!--End bread crumbs-->

  <!--Start Title-->
  <div class="container">
    <div class="row title_01">
      <div class="col">
        <img src="assets/images/pen.png" alt="img">
        شروط الحصول على منتج
      </div>
    </div>
  </div>
  <!--End Title-->
  <div class="container">
    <div class="row">
      <div class="col-12 fieldset01">
        <div class="fieldset-title"><img src="assets/images/icon-1.png" alt="img" dir="rtl">
          أرض وقرض صناعي </div>

        <div class="col-12 fieldset-title02">شروط الحصول على منتج</div>




        <p style="margin-top:10px;">معلومات المشروع العامة</p>
        <ol>
          <li>سجل تجاري ساري</li>
        </ol>
        <ol>
          <li>عقد التأسيس (للشركات فقط)</li>
          <li>صورة من هوية المالك/الملاك/ممثل المشروع</li>
          <li>القوائم المالية المدققة (للمنشآت القائمة)</li>
          <li>خطاب تفويض من المالك/ملاك لممثل المشروع</li>
          <li>ترخيص صناعي ساري للمشروع (نهائي/أولي)- في حال التوسعة، لابد أن يتطابق مصدر ترخيص المشروع القائم بالمدينة
            المراد التوسعة فيها.</li>
        </ol>
        <p>معلومات طلب الارض الصناعية</p>
        <ol>
          <li>تعبئة تفاصيل الأرض كاملة</li>
        </ol>
        <p>استبيان الارض للبيئة واعادة التلوث</p>
        <ol>
          <li>تعبئة الإستبانه كاملة</li>
        </ol>
        <p>تكلفة المشروع وخطة التنفيذ</p>
        <ol>
          <li>تعبئة تكاليف المشروع الراس مالية ومصادر التمويل</li>
        </ol>
        <ol>
          <li>تعبئة الخطة الزمنية للتنفيذ</li>
          <li>تعبئة اجمالي القوى العاملة للمشروع (سعوديون وغير سعوديين)</li>
          <li>ارفاق دراسة جدوى اقتصادية وافية و حديثة للمشاريع التي تكون تكلفتها اعلى من 20 مليون ريال</li>
          <li>عدد عرض تنافسي واحد على الأقل لاحتياجات المشروع من مكائن التصنيع الرئيسية والمواد الخام والتعبئة الرئيسية
            والأصول الثابتة للمشروع</li>
          <li>رسم هندسي اولي يوضح المخطط العام للمشروع ومساحات المباني وأبعادها مع توضيح أماكن معدات الانتاج داخل المصنع
          </li>
          <li>تعبئة نموذج الصندوق التفصيلي وارفاقه. (لتحميل النموذج الرجاء الضغط هنا)</li>
        </ol>
        <p>الخبرة الصناعية</p>
        <ol>
          <li>تعبئة معلومات الشريك الفني ان وجد</li>
        </ol>
        <p>المنتجات</p>
        <ol>
          <li>تعبئة بيانات المنتجات ووصفها</li>
        </ol>
        <ol>
          <li>ارفاق كتيبات وكتالوجات المنتج ان وجد</li>
        </ol>
        <p>السوق المستهدف</p>
        <ol>
          <li>تعبئة بيانات السوق المستهدف من حيث الانتاج الداخلي والتصدير وارتباط الصناعة بصناعات اخرى</li>
        </ol>
        <ol>
          <li>ارفاق اتفاقيات مع مستهلكين ان وجدت</li>
        </ol>
        <p>حقوق الملكية</p>
        <ol>
          <li>تعبئة بيانات الملاك و/أو الشركة/المؤسسة التي لها ملكية في المشروع</li>
        </ol>
        <ol>
          <li>ارفاق عقد التأسيس للشركات التي لها ملكية في المشروع ان وجد</li>
          <li>ارفاق القوائم المالية المدققة للمنشأة التي لها ملكية في المشروع ان وجدت</li>
        </ol>
        <p>تفاصيل حق الملكية</p>
        <ol>
          <li>تعبئة تفاصيل حق الملكية من حيث العقارات المملوكة والحسابات البنكية وملكية الاعمال الاخرى</li>
        </ol>
        <ol>
          <li>تعبئة تفاصيل القروض القائمة والمعاملات البنكية ان وجدت</li>
          <li>إقرار بعدم ممانعة تبادل المعلومات والسماح بالاطلاع على القوائم المالية</li>
          <li>ذكر اذا كانت هناك علاقة سابقة مع الصندوق</li>
        </ol>



        <div class="col-12 start-b"><button onclick="window.location.href='/pages/client-dashboard'" type="button"
            class="more">عــودة</button></div>

      </div>
    </div>
  </div>



  <!-- Start Footer -->
  <div class="container-fluid fot">
    <div class="container">جميع الحقوق محفوظة - صندوق التنمية الصناعية السعودي - المملكة العربية السعودية 2019</div>
  </div>
</div>