    <div class="row">
    <div class="col-md-4">

        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-9">
                        <h2><strong>{{npre.length}}</strong></h2>
                        <small>No. of Preliminary Request Raised</small>
                    </div>
                    <div class="col-md-3">
                        <i class="nb-compose" style="font-size: 40px"></i>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

    </div>
    <div class="col-md-4">

        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-9">
                        <h2><strong>{{nloa.length}}</strong></h2>
                        <small>No. of Preliminary Request Raised</small>
                    </div>
                    <div class="col-md-3">
                        <i class="nb-compose" style="font-size: 40px"></i>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

    </div>
    <div class="col-md-4">

        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-9">
                        <h2><strong>{{comr.length}}</strong></h2>
                        <small>No. of Preliminary Request Raised</small>
                    </div>
                    <div class="col-md-3">
                        <i class="nb-compose" style="font-size: 40px"></i>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

    </div>
</div>