<a href="#" class="scrollup">Scroll</a>
<div [class]="current_direction">
    <div id="page-wrap">


        <section id="white-section">
            <div class="container-fulid topfixid"></div>
            <div class="main-container">
                <div class="container">
                    <!-- Navigation bar -->
<Topmenu></Topmenu>
                

                    <!-- Title -->
                    <div class="l_body_title">
                        <h1>
                           {{'COMMON.Sitemap' | translate}} </h1>
                     </div>
                    <div id="siteMapContainer">
                        <ul class="dfwp-list">
                           <li class="level-section">
                              <div class="level-header"><span class="headertitle"><a [routerLink]="['/login']">{{'HOME.WebsiteSlogan' | translate}} </a></span></div>
                              <ul class="dfwp-list">
                                 <li class="level-section">
                                    <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/preliminary-request']">{{'COMMON.ApprovedPreliminaryRequest' | translate}}</a></span></div>
                                    <ul class="dfwp-list">
                                       <li class="level-section">
                                          <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/preliminary-request/create-prq/create-prq']">{{"COMMON.CreatePreliminaryRequest" | translate}} </a></span></div>
                                           
                                       </li>
                                    </ul>
                                 </li>
                                 <div class="level-header"><span class="headertitle"><a [routerLink]="">{{'COMMON.LoanRequests' | translate}}</a></span></div>
                                 <ul class="dfwp-list">
                                    <li class="level-section">
                                        <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/loan-application/7']">{{'HOME.LModonTitle' | translate}}</a></span></div>
                                         
                                     </li>
                                     <li class="level-section">
                                        <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/loan-application/8']">{{'HOME.FModonTitle' | translate}}</a></span></div>
                                         
                                     </li>
                                     <li class="level-section">
                                        <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/loan-application/9']">{{'HOME.JubailRequestedLandLoan' | translate}}</a></span></div>
                                         
                                     </li>
                                     <li class="level-section">
                                        <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/loan-application/10']">{{'HOME.YanbuRequestedLandLoan' | translate}}</a></span></div>
                                         
                                     </li>
                                     <li class="level-section">
                                        <div class="level-header"><span class="headertitle"><a [routerLink]="['/pages/new-request/loan-application/11']">{{'HOME.llsza' | translate}}</a></span></div>
                                         
                                     </li>
                                 </ul>
                                
                                
                              </ul>
                           </li>
                           
                           
                           
                        </ul>
                     </div>

                </div>

            </div>
        </section>

        

       


        <footer>
            <div class="main-container">
                <div class="row">
                    
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                            
                            <ul  class="footer__socials">
                                <li>{{'COMMON.Footer' | translate}}</li>
                                    <li  class="footer__social"><a  class="footer__socialIcon " href="https://twitter.com/SIDFSA" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a></li>
                                    <li  class="footer__social"><a  class="footer__socialIcon" href="https://www.facebook.com/SIDFSA" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a></li>
                                    <li  class="footer__social"><a  class="footer__socialIcon" href="https://instagram.com/SIDFSA" target="_blank"><i   class="fa fa-instagram fa-2x"></i></a></li>
                                    <li  class="footer__social"><a  class="footer__socialIcon" href="https://www.youtube.com/channel/UCjdXNd7yPduuuuckWusYhgA" target="_blank"><i  class="fa fa-youtube-play fa-2x"></i></a></li>
                                    <li  class="footer__social"><a  class="footer__socialIcon" href="https://sa.linkedin.com/company/saudi-industrial-development-fund" target="_blank"><i  class="fa fa-linkedin fa-2x"></i></a></li>
                                </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>




</div>

