.is-invalid{
    border-color: #c00 !important;
}

.input-group-append .btn:focus,
.btn.focus {
  box-shadow: 0 0 0 0.1rem #41ad4f;
}

.input-group-append .btn:hover,
.btn.hover {
  box-shadow: 0 0 0 0.1rem #41ad4f;
}

.input-group-append .btn {
  padding: 6px 1.5rem !important;
}